[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
jwt = "*"
ipython = "*"
github-flask = "*"
python-arango = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-session = "*"
authlib = "*"
flask-oauthlib = "*"
pygithub = "*"
gitpython = "*"
jmespath = "*"
regex = "*"

[dev-packages]

[requires]
python_version = "3.7"
