certifi==2018.11.29
chardet==3.0.4
Click==7.0
Deprecated==1.2.4
Flask==1.0.2
Flask-Cors==3.0.7
Flask-OAuthlib==0.9.5
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
oauthlib==2.1.0
PyGithub==1.43.3
PyJWT==1.7.0
regex==2018.11.22
requests==2.20.1
requests-oauthlib==1.0.0
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
